<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1>새 메시지 작성</h1>
		<form id="messageForm" th:action="@{/message}" method="post">
			<lable for="message">메시지: </lable>
			<input type="text" id="message_id" name="message" required />
			<button type="submit">메시지 보내기</button>
		</form>
	</div>

	<script th:inline="javascript">
		const contextPath = /*[[@{/}]]*/'';
	</script>
	<script th:src="@[/js/messages.js]"></script>
</body>
</html>